.yesNoScout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesNoScout img {
  width: 75%;
  user-select: none;
}

.yesNoScout p {
  position: absolute;
  margin-top: 0;
  transform: translate(-20%);
  font-size: 1.1rem;
}
