table tr:nth-child(even) {
    background-color: #fdd;
}

table tr:nth-child(odd) {
    background-color: #ddf;
}

table th {
    background-color: black;
    color: white;
}

table {
    width: 90vw;
    margin-top: -20px;
    margin-left: auto; 
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

td {
    text-align: center;
}

td button {
    width: 85%;
}

.match {
    text-align: center;
}

.match p {
    font-size: 2em;
}